#genral
ENV=development
PORT=8080
SERVER_URL=http://localhost:8080

#fruntend
FRONTEND_URL=http://localhost:3030

#email service
EMAIL_SERVICE_API_KEY=""

#database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=ho-task-manager
DATABASE_URL=mysql://root@localhost:3306/ho-task-manager

#tokens
ACCESS_TOKEN_SECRET="your_access_token_secret"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
